@model IEnumerable<ShopTARge22.Models.RealEstates.RealEstatesIndexViewModel>

@{
    int rowNumber = 1;
}
<div class="taust">
    <div>
        <a asp-action="create" asp-controller="RealEstates" type="submit" class="btn btn-primary">Create</a>
    </div>


    <div class="h1">
        Realestates
    </div>
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Address</th>
                    <th scope="col">Type</th>
                    <th scope="col">Built In Year</th>
                    <th scope="col">Size (Square meters)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var realestates in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@realestates.Address</td>
                        <td>@realestates.BuildingType</td>
                        <td>@realestates.BuiltInYear</td>
                        <td>@realestates.SizeSqrM</td>
                        <td>
                            <a asp-action="details" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-info">Details</a>
                            <a asp-action="update" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-primary">Update</a>
                            <a asp-action="delete" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>

                    rowNumber += 1;
                }
            </tbody>
        </table>
    </form>
</div>