@model ShopTARge22.Models.Forecast.OpenWeatherViewModel

<div class="taust">

    <h1>Forecast</h1>

    <div class="container" style="width:50%;">
        <h2>For @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.Country)</h2>
        <hr />
        <dl class="row">
            @*<div class="form-group row">
                    <label asp-for="City" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.City)
                </div>

                <div class="form-group row">
                    <label asp-for="Country" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Country)
                </div>*@

            <div class="form-group row">
                <label asp-for="Temp" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Temp) °C
            </div>

            <div class="form-group row">
                <label asp-for="FeelsLike" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.FeelsLike) °C
            </div>

            <div class="form-group row">
                <label asp-for="Humidity" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Humidity) mm/hg
            </div>

            <div class="form-group row">
                <label asp-for="Pressure" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Pressure) Pa
            </div>

            <div class="form-group row">
                <label asp-for="WindSpeed" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.WindSpeed) m/s
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Description)
            </div>
        </dl>
        <a asp-action="Index" asp-controller="WeatherForecasts" class="btn btn-success">Back</a>
    </div>
</div>