@model ShopTARge22.Models.Accounts.LoginViewModel

@{ViewBag.Title = "User Login"; }
<div class="taust">
    <h2>Account Login</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h1>Local Account</h1>
            <hr />
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    Login
                </button>
                <div>
                    <a asp-action="ForgotPassword">Forgot Password?</a>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h1>External Account</h1>
            <hr />
            @{
                if (Model.ExternalLogins.Count == 0)
                {
                    <div>No external login</div>
                }
                else
                {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (@provider.DisplayName == "Facebook")
                                {
                                    <button type="submit" class="btn btn-primary" style="padding: 10px; width:auto" name="provider" value="@provider.Name"
                                            title="Login using your @provider.DisplayName account">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                                        </svg>
                                    </button>
                                }
                                else if (@provider.DisplayName == "Google")
                                {
                                    <button type="submit" class="btn btn-primary" style="padding: 10px; background-color: red; border-color: red; width: auto" name="provider" value="@provider.Name"
                                            title="Login using your @provider.DisplayName account">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                                        </svg>
                                    </button>
                                }
                                else if (@provider.DisplayName == "Microsoft")
                                {
                                    <button type="submit" class="btn btn-primary" style="padding: 10px; background-color: green; border-color: green; width: auto" name="provider" value="@provider.Name"
                                            title="Login using your @provider.DisplayName account">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
                                            <path d="M7.462 0H0v7.19h7.462zM16 0H8.538v7.19H16zM7.462 8.211H0V16h7.462zm8.538 0H8.538V16H16z" />
                                        </svg>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary" style="padding: 10px; background-color: gray; border-color: gray; width: auto" name="provider" value="@provider.Name"
                                            title="Login using your @provider.DisplayName account">
                                        @provider.DisplayName
                                    </button>
                                }

                            }
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>
