@model ShopTARge22.Models.Kindergartens.KindergartenDeleteViewModel
    <div class="taust">
        <h1>Delete</h1>

        <div>
            <h4>Kindergartens</h4>
            <hr />
            <dl class="row">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Id)
                </div>

                <div class="form-group row">
                    <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.GroupName)
                </div>

                <div class="form-group row">
                    <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.ChildrenCount)
                </div>

                <div class="form-group row">
                    <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.KindergartenName)
                </div>

                <div class="form-group row">
                    <label asp-for="Teacher" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Teacher)
                </div>

                <form asp-action="DeleteConfirmation">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" asp-controller="Kindergartens" class="btn btn-success">Back</a>
                </form>
        </div>
    </div>