@model ShopTARge22.Models.Kindergartens.KindergartenDetailsViewModel
    <div class="taust">
        <h1>Details</h1>

        <div>
            <h4>Kindergartens</h4>
            <hr />
            <dl class="row">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Id)
                </div>

                <div class="form-group row">
                    <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.GroupName)
                </div>

                <div class="form-group row">
                    <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.ChildrenCount)
                </div>

                <div class="form-group row">
                    <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.KindergartenName)
                </div>

                <div class="form-group row">
                    <label asp-for="Teacher" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Teacher)
                </div>

            </dl>
            <a asp-action="Index" asp-controller="kindergartens" class="btn btn-danger">Back</a>
        </div>
    </div>