@model IEnumerable<ShopTARge22.Models.Kindergartens.KindergartensIndexViewModel>
    <div class="taust">
        @{
            int rowNumber = 1;
        }

        <div>
            <a asp-action="create" asp-controller="Kindergartens" type="submit" class="btn btn-primary">Create</a>
        </div>


        <div class="h1">
            Kindergatrens
        </div>
        <form method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Group</th>
                        <th scope="col">Kindergarten</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kindergartens in Model)
                    {
                        <tr>
                            <td>@rowNumber</td>
                            <td>@kindergartens.GroupName</td>
                            <td>@kindergartens.KindergartenName</td>
                            <td>
                                <a asp-action="details" asp-controller="kindergartens" asp-route-id="@kindergartens.Id" class="btn btn-info">Details</a>
                                <a asp-action="update" asp-controller="kindergartens" asp-route-id="@kindergartens.Id" class="btn btn-primary">Update</a>
                                <a asp-action="delete" asp-controller="kindergartens" asp-route-id="@kindergartens.Id" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>

                        rowNumber += 1;
                    }
                </tbody>
            </table>
        </form>
    </div>