@model ShopTARge22.Models.ChuckNorris.ChuckNorrisViewModel
    <div class="taust">
        <div class="container">
            <h2>Today's Chuck Norris Joke is:</h2>
            <h2>@Html.DisplayFor(model => model.Categories)</h2>
            <hr />
            <dl class="row text-dark">
                <div class="form-group row">
                    <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.CreatedAt)
                </div>

                <div class="form-group row">
                    <label asp-for="IconUrl" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.IconUrl)
                </div>

                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Id)
                </div>

                <div class="form-group row">
                    <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </div>

                <div class="form-group row">
                    <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Url)
                </div>

                <div class="form-group row">
                    <label asp-for="Value" class="col-sm-2 col-form-label"></label>
                    @Html.DisplayFor(model => model.Value)
                </div>
            </dl>
        </div>
    </div>