@model ShopTARge22.Models.Norris.ChuckNorrisViewModel



<h1>Forecast</h1>

<div class="container">
    <h2>@Html.DisplayFor(model => model.icon_url)</h2>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="categories" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.categories)
        </div>

        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="form-group row">
            <label asp-for="url" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.url)
        </div>

        <div class="form-group row">
            <label asp-for="value" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.value)
        </div>
    </dl>
    <a asp-action="Index" asp-controller="ChuckNorris" class="btn btn-success">Back</a>
</div>